.services-a{
    text-align: center;
}
.services-content{
    display: flex;
    padding: 20px;
}
.services-a-section{
    background-image: url('/public/images/p-background-1.jpg');
    padding: 250px;
}
.offer-section{
    text-align: center;
    padding: 20px;
}
.services-button{
    background-color: #6C5835;
    margin: 20px;
}