.div-1{
    text-align: center;
    margin: 70px;
}
.div-2{
    text-align: center;
}
.image-1{
    margin-left: 40%;
}
.text-1{
    text-align: center;
    padding: 20px;
}
.header-section{
    background-image: url('/public/images/p-background-1.jpg');

}