.contact-container {
  width: 80%;
  margin: auto;
  padding: 100px 0;
}

.contact-container h2 {
  font-size: 40px;
}

.contact-container p {
  margin: 20px 0;
}

.grid-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.grid-col {
  flex: 1;
}

input,
textarea {
  width: 100%;
  padding: 16px;
  border: 1px solid #ddd;
  outline: none;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

.button-container {
  text-align: center;
}

button {
  padding: 15px 45px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

.office-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  padding-bottom: 100px;
}

.office-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media(max-width:768px){

  .grid-row{
    flex-direction:column;
  }

  .office-container{
    grid-template-columns:1fr;
  }

}
.form-text-a{
    text-align: center;
}
.form-text-b{
    text-align: center;
}