.client-text{
    text-align: center;
}
.client-section1{
    text-align: center;
}
.client-section1a{
    text-align: center;
}
.image-section{
    display: flex;
    padding: 20px;
}
.number-section{
    display: flex;
    padding: 20px;
}
.header-text{
    text-align: center;
    padding-top: 20px;
}
.client-section{
    padding: 250px;
    background-image: url("/public/images/p-background-1.jpg");
}