.body-2{
    display: flex;
    margin: 40px; 
}
.section-3{
    display: flex;
}
.section-1{
    display: flex;
    margin-top: 20px;
    padding: 30px;
}
.section-2{
    text-align: center;
    background-color: #AA9166;
    color: white;
    padding: 50px;
}
.ctr-1{
    text-align: center;
}
.body-3{
    margin: 30px;
}
.section-3a{
    padding: 30px;
}
.section-3b{
    padding: 30px;
}
.section-3c{
    padding: 30px;
}
.section-4a{
    text-align: center;
    margin-top: 30px;
}
.section-4b{
    display: flex;
    padding: 50px;
}
.Blog-Section{
    display: flex;
    margin: 20px;
    

}
.blog-text{
    text-align: center;
    padding: 20px;
}
.Blog-1{
    padding: 20px;
}
.Blog-2{
    padding: 20px;
}
.Blog-3{
    padding: 20px;
}
.Blog-4{
    padding: 20px;
}
